Flows/clustering_flow.txt
[{"id":"c1e2bb94.b442c","type":"http request","z":"14976ad6.8fb74d","name":"","method":"GET","ret":"txt","url":"http://informo.munimadrid.es/informo/tmadrid/pm.xml","tls":"","x":246,"y":285,"wires":[["50f8aaf0.3f6cfc"]]},{"id":"50f8aaf0.3f6cfc","type":"xml","z":"14976ad6.8fb74d","name":"","attr":"","chr":"","x":393,"y":286,"wires":[["8d43069a.45689"]]},{"id":"a005e9f1.dc79f","type":"debug","z":"14976ad6.8fb74d","name":"","active":true,"console":"false","complete":"false","x":500,"y":203,"wires":[]},{"id":"1535af00.3b9b81","type":"inject","z":"14976ad6.8fb74d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":284,"wires":[["c1e2bb94.b442c"]]},{"id":"8d43069a.45689","type":"function","z":"14976ad6.8fb74d","name":"Filter Data","func":"\n//keep only needed PM\nfor (var i=0;i<msg.payload.pms.pm.length;i++){\n\n    if (msg.payload.pms.pm[i].codigo[0] === 'PM10001'){\n        var velocidad=msg.payload.pms.pm[i].velocidad[0];\n        var codigo=msg.payload.pms.pm[i].codigo[0];\n        msg.payload={}; //clear msg.payload contents\n        msg.payload.velocidad=velocidad; //create simpler form of msg.payload\n        msg.payload.codigo=codigo;\n        msg.payload.timestamp=Date.now(); //insert timestamp\n        node.send(msg) //send new msg to output\n        break; //once found, stop. To be removed if more points are needed\n    }\n}","outputs":1,"noerr":0,"x":549,"y":292,"wires":[["a005e9f1.dc79f","477fefb2.f5174","14e4565f.f6fbaa"]]},{"id":"16b99dc9.8667f2","type":"file","z":"14976ad6.8fb74d","name":"Store Results","filename":"/home/labuser/PM10001","appendNewline":true,"createDir":false,"overwriteFile":"false","x":624,"y":349,"wires":[]},{"id":"477fefb2.f5174","type":"csv","z":"14976ad6.8fb74d","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"codigo,velocidad,timestamp","x":471,"y":354,"wires":[["16b99dc9.8667f2"]]},{"id":"14e4565f.f6fbaa","type":"function","z":"14976ad6.8fb74d","name":"Intercept and compare","func":"var velocity=msg.payload.velocidad;\nlocalclusters=global.get(\"foundclusters\");\nvar overall_cluster=-1;\nvar diff;\nvar min=10000000;\nfor (var k=0;k<localclusters.length;k++){\n    diff=Math.abs(localclusters[k].centroid[0]-velocity);\n    if (diff<min){\n        overall_cluster=k;\n        min=diff;\n    }\n    console.log(Math.abs(localclusters[k].centroid[0]-velocity));\n}\nmsg.payload={};\nmsg.payload.name=\"PM10001\";\nmsg.payload.lat=40.49069643;\nmsg.payload.lon=-3.67209955;\nif (overall_cluster===0){\n    msg.payload.state=\"bad state\";\n    msg.payload.iconColor='red';\n}\nif (overall_cluster===1){\n    msg.payload.state=\"good state\";\n    msg.payload.iconColor='green';\n}\n//msg.payload.cluster_number=overall_cluster;\nreturn msg;","outputs":1,"noerr":0,"x":290.5,"y":78,"wires":[["fcaeb99.7dafd48","c635caf0.140288"]]},{"id":"25110da5.fe07a2","type":"inject","z":"14976ad6.8fb74d","name":"","topic":"","payload":"{\"velocidad\":43}","payloadType":"json","repeat":"","crontab":"","once":false,"x":151,"y":181,"wires":[["14e4565f.f6fbaa"]]},{"id":"fcaeb99.7dafd48","type":"debug","z":"14976ad6.8fb74d","name":"","active":true,"console":"false","complete":"true","x":455,"y":20,"wires":[]},{"id":"6a132504.9b3dec","type":"debug","z":"14976ad6.8fb74d","name":"","active":false,"console":"false","complete":"true","x":1024.8055419921875,"y":162,"wires":[]},{"id":"3edb7e34.c64552","type":"inject","z":"14976ad6.8fb74d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":867.8055419921875,"y":357,"wires":[["dcd6db30.8a1df"]]},{"id":"3708fef2.7e5192","type":"function","z":"14976ad6.8fb74d","name":"kmeans cluster","func":"var clusterMaker = context.global.clusters;\n\n//number of clusters, defaults to undefined\nclusterMaker.k(2);\n\n//number of iterations (higher number gives more time to converge), defaults to 1000\nclusterMaker.iterations(750);\n\n//data from which to identify clusters, defaults to []\n//clusterMaker.data([[1, 0], [0, 1], [0, 0], [-10, 10], [-9, 11], [10, 10], [11, 12]]);\n//clusterMaker.data([[43], [45], [47], [51]]);\n\nclusterMaker.data(msg.payload);\nmsg.payload=clusterMaker.clusters();\n\nmsg.payload.sort(function(a, b) {\n    return parseFloat(a.centroid) - parseFloat(b.centroid);\n});\n\n\nglobal.set(\"foundclusters\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":869.8055419921875,"y":20,"wires":[["88539b6.e04c368"]]},{"id":"dcd6db30.8a1df","type":"file in","z":"14976ad6.8fb74d","name":"","filename":"/home/labuser/PM10001","format":"utf8","x":878.3055419921875,"y":300,"wires":[["d7632603.4058e8"]]},{"id":"2e6dd0be.6153e8","type":"split","z":"14976ad6.8fb74d","name":"","splt":"\\n","x":868.3055419921875,"y":193,"wires":[["b2db3297.e6c8f8"]]},{"id":"d7632603.4058e8","type":"csv","z":"14976ad6.8fb74d","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","x":875.3055419921875,"y":254,"wires":[["2e6dd0be.6153e8"]]},{"id":"88539b6.e04c368","type":"debug","z":"14976ad6.8fb74d","name":"","active":true,"console":"false","complete":"payload","x":1054.3055419921875,"y":41,"wires":[]},{"id":"328a14fe.5dc694","type":"join","z":"14976ad6.8fb74d","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":856.3055419921875,"y":80,"wires":[["e4c2b9ec.d94ed","3708fef2.7e5192"]]},{"id":"b2db3297.e6c8f8","type":"function","z":"14976ad6.8fb74d","name":"filter","func":"\nvar velocity=new Array();\n\nvelocity[0]=msg.payload.col2;\nmsg.payload={};\nmsg.payload=velocity;\nreturn msg;","outputs":1,"noerr":0,"x":848.3055419921875,"y":139,"wires":[["328a14fe.5dc694","6a132504.9b3dec"]]},{"id":"e4c2b9ec.d94ed","type":"debug","z":"14976ad6.8fb74d","name":"","active":false,"console":"false","complete":"true","x":1011.8055419921875,"y":85,"wires":[]},{"id":"ff15cf3e.3446d","type":"debug","z":"14976ad6.8fb74d","name":"","active":true,"console":"false","complete":"true","x":1052.8055419921875,"y":214,"wires":[]},{"id":"242ac5ca.ba693a","type":"inject","z":"14976ad6.8fb74d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1075.3055419921875,"y":332,"wires":[["c6370da5.2fda18"]]},{"id":"c6370da5.2fda18","type":"function","z":"14976ad6.8fb74d","name":"","func":"msg.payload=global.get(\"foundclusters\");\nreturn msg;","outputs":1,"noerr":0,"x":1115.3055419921875,"y":271,"wires":[["ff15cf3e.3446d"]]}]