Flows/EVRYTHNG_mqtt_flow.txt
[{"id":"ac11c461.b699d8","type":"inject","z":"82f5fd28.4731e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":500.5001220703125,"y":97.51663208007812,"wires":[["2f78d03b.6e2dc8"]]},{"id":"5bba6ec7.b1a048","type":"debug","z":"82f5fd28.4731e","name":"","active":true,"console":"false","complete":"false","x":926.7501220703125,"y":227.89996337890625,"wires":[]},{"id":"2f78d03b.6e2dc8","type":"function","z":"82f5fd28.4731e","name":"mqtt actions","func":"const mqtt = context.global.mqtt;\nconst client = mqtt.connect('mqtts://mqtt.evrythng.com:8883', {\n  username: 'authorization',\n  password: 'YOUR_APP_KEY'\n});\n\nclient.on('connect', () => {\n  console.log('Connected!');\n  msg.payload='Connected!';\n  client.subscribe('/actions/all');\n  node.send(msg);\n});\n\nclient.on('message', (topic, message) => {\n  console.log(`${topic}: ${message}`);\n  msg.payload=`${topic}: ${message}`;\n  node.send(msg);\n});\n\n","outputs":1,"noerr":0,"x":673.5001220703125,"y":184.24996948242188,"wires":[["5bba6ec7.b1a048"]]}]