Flows/EVRYTHNG_http_get_flow.txt
[{"id":"f4f1c0e3.6eda","type":"http request","z":"3c1e0769.42fc28","name":"","method":"GET","ret":"txt","url":"","x":348.75,"y":240.2833251953125,"wires":[["97456afe.9e0ec"]]},{"id":"97456afe.9e0ec","type":"debug","z":"3c1e0769.42fc28","name":"","active":true,"console":"false","complete":"false","x":538.75,"y":290.1499938964844,"wires":[]},{"id":"9ed47910.0a7f3","type":"function","z":"3c1e0769.42fc28","name":"APPLICATION","func":"var app_key='YOUR_APP_KEY';\nmsg.url='https://api.evrythng.com/'\nvar extraurl='products'\nvar auth='?access_token='+app_key;\nmsg.url=msg.url+extraurl+auth;\n\nconsole.log(msg.url);\n\nreturn msg;","outputs":1,"noerr":0,"x":177.75,"y":299.75,"wires":[["f4f1c0e3.6eda"]]},{"id":"afb2e709.78f848","type":"inject","z":"3c1e0769.42fc28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139.75,"y":230.75001525878906,"wires":[["9ed47910.0a7f3"]]}]